{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Expenses</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-2">
            <a type="button" href="{% url 'add-expenses'%}" class="btn btn-outline-success">New Expense</a>
        </div>
    </div>
    <div class="container">
        {% include 'partials/_messages.html' %}
        {% if expenses.count %}
        <table class="table table-stripped table-hover">
            <thead>
            <tr>
                <th>Amount (CURRENCY)</th>
                <th>Description</th>
                <th>Category</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for expens in expenses %}
                <tr>
                    <td>{{expens.amount}}</td>
                    <td>{{expens.category}}</td>
                    <td>{{expens.description}}</td>
                    <td>{{expens.date}}</td>
                    <td><a href="{% url 'expense-edit' expense.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}